
@import 'reset.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
table.page5 td, table.page5 th { border:1px solid #555}
		table.page5 table td, table.page5 table th {padding:5px; border:0px;}
		table.page5 table th {border-bottom:1px solid #555}
strong { font-weight:bold}
a{ text-decoration:none; color:#00953b;}
a:hover{ text-decoration:underline; color:#00953b;}

a.imghover:hover img{
	filter:alpha(opacity=70);/*----------IE-----------*/
	opacity:0.7;/*-----------firefox-------------*/
	}
.textbold{ font-weight:bold;}	
body{background-color:#FFF;
	margin:0px; padding:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px; color:#323232;
	line-height:15px;
	}	
.cl{ clear:both;}
#wrapper{width:960px; margin:auto; }
#header{color:#323232;}
.height10{ height:10px;}
#menu_nav{ background:url(../images/menu_nav_bg.png) repeat-x; height:36px; font-size:13px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
#menu_nav ul{ margin:0; padding:0;}
#menu_nav ul li{ float:left; position:relative;}
#menu_nav ul li a{ display:block; color:#FFF; line-height:26px; padding:5px 30px; border-left:1px solid #5e5e5e; border-right:1px solid #8a8a8a;}
.start a:hover{ text-decoration:none;-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;}
#menu_nav ul li a:hover{background:url(../images/menu_nav_bg_hover.png) repeat-x; display:block;color:#fff; text-decoration:none;}
#menu_nav ul ul{display:none; position:absolute; }
#menu_nav ul li:hover ul{display:block;color:#0e2362; text-decoration:none; }
#menu_nav ul ul li{ background:none; float:none; margin:0; }
#menu_nav ul ul a{width:150px; text-align:left;  color:#ffffff; font-weight:normal; background:#3c3c3c; border-bottom:1px solid #5e5d5d; padding:3px 5px; font-size:12px; border-left:none; border-right:none;}
#menu_nav ul ul a:hover{width:150px; text-align:left; padding-left:10px; color:#fff; font-weight:normal;padding:3px 5px;font-size:12px; text-decoration:none; }

.active{background:url(../images/menu_nav_bg_hover.png) repeat-x; color:#fff; text-decoration:none;}
.start .active{ text-decoration:none;-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;}

.breadscrumb{ background:#efefef; border:1px solid #929191; margin:7px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; font-weight:bold; line-height:20px; }
.breadscrumb img { vertical-align:middle;}
.breadscrumb span{ padding:0 10px;}
.breadscrumb a{ font-weight:normal;}

#center{border:1px solid #929191; padding:5px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

#left{ width:190px; float:left; margin-right:10px;}
.left_top{ background:url(../images/menu_left_top_bg.png) no-repeat; height:30px; color:#FFF; font-size:13px; font-weight:bold; line-height:30px; padding:0px 20px;}
.content_left{ border:1px solid #c5c5c5; border-top:none; }
.content_left li{ border-bottom:1px solid #c5c5c5; padding:10px; }
.content_left li:hover{ background:#f2f2f2; padding:10px 15px; }
.content_left a{ color:#807e7e; padding:10px; }
.content_left a:hover{ text-decoration:none; }
.content_left img{ vertical-align:middle;}

#right_notfull{ width:748px; float:left;}
.message-error, .msgRed{ background:#fbe0dd; border:1px solid #ca8a83; color:#90443b; padding:5PX; font-weight:bold; margin-bottom:10PX;}
.message, .msgGreen{ background:#d9fee5; border:1px solid #00953b; color:#00702d; padding:5PX; font-weight:bold; margin-bottom:10PX;}
.message-error, .msgError{ color:#F00; line-height:20px;}
.select_section{ background:#f1fef5;border-bottom:1px solid #83958a;border-top:1px solid #83958a; padding:10px; margin-bottom:10PX; }

.btn_small_black, .btn_medium_black, .btn_large_black,
.btn_small_green, .btn_medium_green, .btn_large_green,
.btn_small_grey, .btn_medium_grey, .btn_large_grey{background:url(../images/btn.png) no-repeat; border:0px; text-align:center; cursor:pointer; font-size:12px; }

.btn_small_green:hover { background-position: -7px -5px; width: 91px; height: 22px; color:#FFF; font-weight:bold; }
.btn_small_green { background-position: -7px -34px; width: 91px; height: 22px; color:#FFF; font-weight:bold; }

.btn_medium_green:hover { background-position: -111px -5px; width: 150px; height: 22px; color:#FFF; font-weight:bold; }
.btn_medium_green { background-position: -111px -34px; width: 150px; height: 22px; color:#FFF; font-weight:bold; }

.btn_large_green:hover { background-position: -273px -5px; width: 250px; height: 22px; color:#FFF; font-weight:bold; }
.btn_large_green { background-position: -273px -34px; width: 250px; height: 22px; color:#FFF; font-weight:bold; }

.btn_small_black:hover{ background-position: -7px -115px; width: 91px; height: 22px; color:#FFF; font-weight:bold; }
.btn_small_black { background-position: -7px -144px; width: 91px; height: 22px; color:#FFF; font-weight:bold; }

.btn_medium_black:hover { background-position: -111px -115px; width: 150px; height: 22px; color:#FFF; font-weight:bold; }
.btn_medium_black { background-position: -111px -144px; width: 150px; height: 22px; color:#FFF; font-weight:bold; }

.btn_large_black:hover { background-position: -273px -115px; width:250px; height: 22px; color:#FFF; font-weight:bold; }
.btn_large_black { background-position: -273px -144px; width: 250px; height: 22px; color:#FFF; font-weight:bold; }

.btn_small_grey { background-position: -7px -63px; width: 91px; height: 24px; color:#333; font-weight:bold; }

.btn_medium_grey { background-position: -111px -63px; width: 150px; height: 24px; color:#333; font-weight:bold; }

.btn_large_grey { background-position: -273px -63px; width:250px; height: 24px; color:#333; font-weight:bold; }

.tblList th:first-child {width: 10px}
.tblList th{ background:url(../images/table_th.png) repeat-x; border:1px solid #c5c5c5; color:#FFF; padding:7px; font-weight:bold; vertical-align:middle;}
.tblList th a{color: #fff}
.tblList td{ border:1px solid #a7b2aa; padding:5px;}
.tblList tr:hover{ background:#f1f1f1;}
.tblList td img{ margin-right:5px; vertical-align:middle; }

.tblForm th{ background:#f1f1f1;border:1px solid #a7b2aa; padding:7px; font-weight:bold; vertical-align:top; text-align:right;}
.tblForm td{ border:1px solid #a7b2aa; padding:7px;}
.tblForm select{ min-width:60px; text-align:right;}
.redtext{ color:#F00;}
.greytext { color:#999;}
.width250{ width:250px;}

.paging { padding:10px 0;}
.paging span { border:1px solid #999; min-width:20px; padding:0 5px; margin:0 0 0 5px; }


#footer{ background:url(../images/bg_footer.png) repeat-x #2c2c2c; border:1px solid #929191; border-top:none; color:#FFF;  padding:10px;-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
a.btn_medium_green,a.btn_small_black, a.btn_small_green, a.deleteImage, a.btn_large_grey, a.btn_large_green, a.btn_small_grey {display: inline-block; line-height: 22px}
.hide{display: none}
.error-message {color: red}
a.changePassword {
    float: right;
}
.imageProducts{border: solid 1px #ababab; margin: 0 2.5px;float: left;width: 50px;height: 50px}
.imageProducts:hover{opacity: 0.5; cursor: pointer}
.deleteImage {
    display: inline-block;
}
.cartOrder p {margin-bottom: 5px}
.breadscrumb a {
    display: inline-block;
    padding: 5px;
}
tr.f1 {background: #f1f1f1}
.addNewOne{margin-right: 10px}
.deleteSelectedLink {text-decoration: none !important; min-height: 25px}
a.disabled{pointer-events: none; cursor: default; background-position: -111px -63px; color: #111}
#BannerUrl{width: 300px}
.imgLoadingPaginator{display: none}
